absl-py==1.2.0

appdirs==1.4.4
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0
brotlipy==0.7.0
certifi==2021.10.8
comtypes==1.1.10


Flask==2.0.1
gunicorn==20.1.0

