<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NASELECTRIC</title>
    
    <script type = "text/javascript" src = "https://d3js.org/d3.v4.min.js"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <!--<link rel="stylesheet" href="styles.css">-->

</head>
<body>
    
    <!--<div class="image">-->


        
        
        <div class="image4">NASELECTRIC</div>
        <button onclick="myfunction1()" class="menu1" >GAMING PCs</button>
        <button class="menu2">HOME AND OFFICE</button>
        <!--<div class="logo1"></div>-->
            
    <!--</div>-->
    <!-- <button onclick="myFunction()" class="image4">
        CUSTOM COMPUTERS
    </button> -->
    <!--<button onclick="myfunction1()" class="menu1">GAMING PCs</button>-->
    

        <!-- <div id="myDropdown" class="dropdown-content">
            <a href="#">Gaming PCs</a>
            <a href="#">Home and Office PCs</a>
            <a href="#">Design Workstations</a>
            <a href="#">All In Ones</a>
            <a href="#">Laptops</a>
            <a href="#">CPUs</a>
            <a href="#">Graphic Cards</a>
        </div> -->



        <div class="image2"></div>  



    
           
    

    

    







<script src="{{url_for('static', filename='app.js')}}"></script>
    
<!--<script src="./app.js"></script>--> 

</body>
</html>