<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script type = "text/javascript" src = "https://d3js.org/d3.v4.min.js"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <!--<link rel="stylesheet" href="styles.css">-->

</head>
<body>
    
    <!--<div class="image">-->


        
        
        <div class="image4">CUSTOM COMPUTERS</div>
        <button onclick="myfunction1()" class="menu1">GAMING PCs</button>
        <button class="menu2">HOME AND OFFICE</button>
        <!--<div class="logo1"></div>-->
            
    <!--</div>-->
    <!-- <button onclick="myFunction()" class="image4">
        CUSTOM COMPUTERS
    </button> -->
    <!--<button onclick="myfunction1()" class="menu1">GAMING PCs</button>-->
    

        <!-- <div id="myDropdown" class="dropdown-content">
            <a href="#">Gaming PCs</a>
            <a href="#">Home and Office PCs</a>
            <a href="#">Design Workstations</a>
            <a href="#">All In Ones</a>
            <a href="#">Laptops</a>
            <a href="#">CPUs</a>
            <a href="#">Graphic Cards</a>
        </div> -->



        <div class="image2">Custom PC
            We will build your Custom PC how you want. From a range of pc cases - from small form factor cases to a stock mid-tower case to a PC case beast, even panel graphics with unique logo. We build the complete assembly - all the components - just tell us your inspiration custom pc.
            We make a variety of computers with different configurations from high end powerful gaming machines to home or office desktops.
            The speed and performance depend on the system components, parts and layout, the CPU, the Motherboard, the RAM, the Hard Drives. Your ideal machine will have the correct graphics for your specifications, depending what you want it to do - we will recommend the right graphics card for you. The machine will be built from scratch - unique for your applications and inspiration.
            You may already know the parts for your custom pc. You may already know what CPU you need whether AMD or Intel, we will get the exact CPU you wanted, if we don't have it in stock - we will get if for you ASAP.
            Cooling is important to PC design. A PC is advantageous to a laptop because of cooling .
            Depending on power and heat coming from the system we will design the cooling system to suit your pc - whether air cooled or if water cooling is required.
            We will install the appropriate fans to keep your pc running cool.
            Custom PC Cases
            Some customers like their pc cases to have a specific design on their panel maybe to suit their business or just to show off the pc.
            If you require a laptop we have range to choose from.
            We have a range of computer cases to choose from.
            We do laptop repairs.
            Choice of motherboard is critical to pc performance
            Also is the choice of the CPU to the performance of your pc
            Choose a gaming motherboard for great graphics or a motherboard specific to graphics design and 3D modelling
            Small form factor cases
            If you require a unique pc case panel we will design a logo or graphics that you like. Or you may provide a design its your choice
            We will deliver your pc or collection can be done. Just specify for collection in person.
            We will design a pc with quality components that will meet your needs an fit your budget
            We install only the best products and components in your pc - only quality brands.
            We have a range of touch monitors as well.
            If you are interested in building a quality custom pc then you have come to the right place.
            Share our website with others.
            Its time to build a pc that suits your needs and requirements.
            Every home should have a good pc - something powerful that will handle the most demanding tasks with ease
            View and select from a wide variety of pc components or let us recommend the best components for the job.
            It doesn't matter how small or large your budget we will optimize the building of your custom pc to produce the best machine respectively.
            Custom PC
            We will build your Custom PC how you want. From a range of pc cases - from small form factor cases to a stock mid-tower case to a PC case beast, even panel graphics with unique logo. We build the complete assembly - all the components - just tell us your inspiration custom pc.
            We make a variety of computers with different configurations from high end powerful gaming machines to home or office desktops.
            The speed and performance depend on the system components, parts and layout, the CPU, the Motherboard, the RAM, the Hard Drives. Your ideal machine will have the correct graphics for your specifications, depending what you want it to do - we will recommend the right graphics card for you. The machine will be built from scratch - unique for your applications and inspiration.
            You may already know the parts for your custom pc. You may already know what CPU you need whether AMD or Intel, we will get the exact CPU you wanted, if we don't have it in stock - we will get if for you ASAP.
            Cooling is important to PC design. A PC is advantageous to a laptop because of cooling .
            Depending on power and heat coming from the system we will design the cooling system to suit your pc - whether air cooled or if water cooling is required.
            We will install the appropriate fans to keep your pc running cool.
            Custom PC Cases
            Some customers like their pc cases to have a specific design on their panel maybe to suit their business or just to show off the pc.
            If you require a laptop we have range to choose from.
            We have a range of computer cases to choose from.
            We do laptop repairs.
            Choice of motherboard is critical to pc performance
            Also is the choice of the CPU to the performance of your pc
            Choose a gaming motherboard for great graphics or a motherboard specific to graphics design and 3D modelling
            Small form factor cases
            If you require a unique pc case panel we will design a logo or graphics that you like. Or you may provide a design its your choice
            We will deliver your pc or collection can be done. Just specify for collection in person.
            We will design a pc with quality components that will meet your needs an fit your budget
            We install only the best products and components in your pc - only quality brands.
            We have a range of touch monitors as well.
            If you are interested in building a quality custom pc then you have come to the right place.
            Share our website with others.
            Its time to build a pc that suits your needs and requirements.
            Every home should have a good pc - something powerful that will handle the most demanding tasks with ease
            View and select from a wide variety of pc components or let us recommend the best components for the job.
            It doesn't matter how small or large your budget we will optimize the building of your custom pc to produce the best machine respectively.
            Custom PC
            We will build your Custom PC how you want. From a range of pc cases - from small form factor cases to a stock mid-tower case to a PC case beast, even panel graphics with unique logo. We build the complete assembly - all the components - just tell us your inspiration custom pc.
            We make a variety of computers with different configurations from high end powerful gaming machines to home or office desktops.
            The speed and performance depend on the system components, parts and layout, the CPU, the Motherboard, the RAM, the Hard Drives. Your ideal machine will have the correct graphics for your specifications, depending what you want it to do - we will recommend the right graphics card for you. The machine will be built from scratch - unique for your applications and inspiration.
            You may already know the parts for your custom pc. You may already know what CPU you need whether AMD or Intel, we will get the exact CPU you wanted, if we don't have it in stock - we will get if for you ASAP.
            Cooling is important to PC design. A PC is advantageous to a laptop because of cooling .
            Depending on power and heat coming from the system we will design the cooling system to suit your pc - whether air cooled or if water cooling is required.
            We will install the appropriate fans to keep your pc running cool.
            Custom PC Cases
            Some customers like their pc cases to have a specific design on their panel maybe to suit their business or just to show off the pc.
            If you require a laptop we have range to choose from.
            We have a range of computer cases to choose from.
            We do laptop repairs.
            Choice of motherboard is critical to pc performance
            Also is the choice of the CPU to the performance of your pc
            Choose a gaming motherboard for great graphics or a motherboard specific to graphics design and 3D modelling
            Small form factor cases
            If you require a unique pc case panel we will design a logo or graphics that you like. Or you may provide a design its your choice
            We will deliver your pc or collection can be done. Just specify for collection in person.
            We will design a pc with quality components that will meet your needs an fit your budget
            We install only the best products and components in your pc - only quality brands.
            We have a range of touch monitors as well.
            If you are interested in building a quality custom pc then you have come to the right place.
            Share our website with others.
            Its time to build a pc that suits your needs and requirements.
            Every home should have a good pc - something powerful that will handle the most demanding tasks with ease
            View and select from a wide variety of pc components or let us recommend the best components for the job.
            It doesn't matter how small or large your budget we will optimize the building of your custom pc to produce the best machine respectively.
            Custom PC
            We will build your Custom PC how you want. From a range of pc cases - from small form factor cases to a stock mid-tower case to a PC case beast, even panel graphics with unique logo. We build the complete assembly - all the components - just tell us your inspiration custom pc.
            We make a variety of computers with different configurations from high end powerful gaming machines to home or office desktops.
            The speed and performance depend on the system components, parts and layout, the CPU, the Motherboard, the RAM, the Hard Drives. Your ideal machine will have the correct graphics for your specifications, depending what you want it to do - we will recommend the right graphics card for you. The machine will be built from scratch - unique for your applications and inspiration.
            You may already know the parts for your custom pc. You may already know what CPU you need whether AMD or Intel, we will get the exact CPU you wanted, if we don't have it in stock - we will get if for you ASAP.
            Cooling is important to PC design. A PC is advantageous to a laptop because of cooling .
            Depending on power and heat coming from the system we will design the cooling system to suit your pc - whether air cooled or if water cooling is required.
            We will install the appropriate fans to keep your pc running cool.
            Custom PC Cases
            Some customers like their pc cases to have a specific design on their panel maybe to suit their business or just to show off the pc.
            If you require a laptop we have range to choose from.
            We have a range of computer cases to choose from.
            We do laptop repairs.
            Choice of motherboard is critical to pc performance
            Also is the choice of the CPU to the performance of your pc
            Choose a gaming motherboard for great graphics or a motherboard specific to graphics design and 3D modelling
            Small form factor cases
            If you require a unique pc case panel we will design a logo or graphics that you like. Or you may provide a design its your choice
            We will deliver your pc or collection can be done. Just specify for collection in person.
            We will design a pc with quality components that will meet your needs an fit your budget
            We install only the best products and components in your pc - only quality brands.
            We have a range of touch monitors as well.
            If you are interested in building a quality custom pc then you have come to the right place.
            Share our website with others.
            Its time to build a pc that suits your needs and requirements.
            Every home should have a good pc - something powerful that will handle the most demanding tasks with ease
            View and select from a wide variety of pc components or let us recommend the best components for the job.
            It doesn't matter how small or large your budget we will optimize the building of your custom pc to produce the best machine respectively.
            
            
            
            
            </div>  



    
           
    

    

    







<script src="{{url_for('static', filename='app.js')}}"></script>
    
<!--<script src="./app.js"></script>--> 

</body>
</html>